@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

.font-thin {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400
}
.font-medium {
  font-weight: 500
}
.font-bold {
  font-weight: 700
}
.font-black {
  font-weight: 900
}