/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
// Blocks
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

html {
  background-color: $body-background-color;
  font-size: $base-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-size-adjust: 100%;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

body,
button,
input,
select,
textarea {
  font-family: $base-font-family;
}

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}

// List
ul {
  list-style: none;
}

// Form
button,
input,
select,
textarea {
  margin: 0;
}
button {
  background: none;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

// Box sizing
html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// Media
img,
audio,
video {
  height: auto;
  max-width: 100%;
}

// Iframe
iframe {
  border: 0;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
// body
body {
  color: $body-color;
  font-size: $base-font-size;
  line-height: $body-line-height;
}
pre {
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  code {
    background-color: transparent;
    padding: 0;
  }
}